* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;

    --title-lg: 700 3rem "Raleway", sans-serif;
    --title-md: 700 2.5rem "Raleway", sans-serif;
    --title-sm: 700 2rem "Raleway", sans-serif;
    --title-xs: 700 1rem "Raleway", sans-serif;

    --body-lg: 400 1.25rem/140% "Raleway", sans-serif;
    --body-md: 400 1rem/140% "Raleway", sans-serif;
    --body-sm: 400 .875rem/140% "Raleway", sans-serif;
    --body-xs: 400 .75rem/140% "Raleway", sans-serif;

    --subtitle: 500 2rem/200% "Raleway", sans-serif;
    --button: 700 .875rem "Raleway", sans-serif;
    --link: 500 .875rem "Raleway", sans-serif;
    --tag: 700 .625rem "Raleway", sans-serif;
}

html{
    zoom: .5;
}

body{
    background: linear-gradient(90deg, rgba(36,0,33,1) 0%, rgba(67,9,121,1) 39%, rgba(103,7,156,1) 50%, rgba(89,5,178,1) 57%, rgba(154,3,204,1) 65%, rgba(205,0,255,1) 81%);
}