section.sec1 {
    height: 100%;
    width: 100%;
    background: url(../assets/images/hero-background.png),
    linear-gradient(90deg, rgba(36,0,33,1) 0%, rgba(67,9,121,1) 39%, rgba(103,7,156,1) 50%, rgba(89,5,178,1) 57%, rgba(154,3,204,1) 65%, rgba(205,0,255,1) 81%); 
    background-size: contain;

   background-repeat: no-repeat;

   animation: appear ease 1.5s both;

  
   
    
    header{
        padding-top: 3.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            width: 14.375rem;
            height: 3.625rem;
        }
        
        button {
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .5rem;
            width: 5.625rem;
            height: 2.5rem;
            background-color: var(--pink-dark);
            position: relative; /* Adiciona um contexto de posicionamento para a animação */
            overflow: hidden; /* Garante que a animação não ultrapasse os limites do botão */
            transition: background 0.3s ease;
          }
          
          button h3 {
            color: var(--text-title);
            font: var(--button);
            position: relative; /* Faz com que o texto fique acima da animação */
            z-index: 2; /* Garante que o texto esteja por cima da animação */
          }
          
          button::before {
            content: "";
            background-color: var(--pink-base);
            height: 100%;
            width: 200%;
            position: absolute; /* Permite que a animação ocupe toda a área do botão */
            top: 0;
            left: -50%;
            border-radius: inherit;
            clip-path: circle(0%);
            transition: clip-path 500ms ease-in-out;
            z-index: 1; /* A animação ficará abaixo do texto */
          }
          
          button:hover::before {
            clip-path: circle(150%);
          }
    }

    .title{
        padding-top: 10.25rem;
        padding-bottom: 29.375rem;
        display: grid;
        place-items: center;
        gap: 2rem;

        h1, h2{
            text-align: center;
            color: var(--text-title);
        }

        h1{
            font: var(--title-lg);
        }

        h2{
            font: var(--body-lg);
        }
    }

    .under{
        animation: appear-scr ease;
        animation-timeline: view();
        animation-range: entry 0;
        height: 100%;
        width: 100%;
        padding-top: 6rem;
        padding: 7.5rem;
        display: grid;
        
        img:nth-child(1){
            justify-self: center;
            
        }

        h2{
            font: var(--subtitle);
            text-align: center;
            color: var(--text-body);

            span{
                color: var(--blue-light);
            }
        }

        .books{
            animation: appear ease;
            animation-timeline: view();
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
    }
}




@keyframes appear-scr {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}

@keyframes appear {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
        
    }
    
}

@keyframes book-appear{
    from{
        opacity: 0;
       left: 0;
       top: 0;
    }

    to{
        opacity: 1;
        left: -17rem;
        top: 4.375rem;
    }
}