section.sec2{
    
    padding-top: 14.6875rem;
    height: 100%;
    width: 100%;
    background-size: contain;
    display: grid;
    justify-content: center;
    align-items: center;

    svg{
        path{
            fill: var(--pink-base);
        }

        filter: drop-shadow(0px 0px 28px #8F3B9E);
    }

    .title{
        display: grid;
        gap: .5rem;
        justify-content: center;
        padding-bottom: 5.5rem;
        animation: appear-scr ease;
        animation-timeline: view();
        animation-range: entry 0;

        .principal{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            h1{
                font: var(--title-sm);
                color: var(--text-title);
            }
        }

        h2{
            font: var(--body-md);
            color: var(--text-body);
            text-align: center;
        }
    }

    .container{
        width: 100%;
        height: 100%;
        position: relative;
        transition: all ease 3s both ;

        .arrow-book,
        .bookmark,
        .bookmark2,
        .desc1,
        .pin{
            
        transition: all ease .5s;

        }
        
        figure{
            position: absolute;
            h3{
                font: var(--body-md);
                color: var(--text-title);
            }

        }

        .book{
            z-index: 10;
            left: -8rem;
            top: 8rem;

            img{
                width: 40rem;
            }

          
        }

        .desc1{
            position: absolute;
            top: 10rem;
            left: 2rem;
            z-index: 1;
            display: grid;
            text-align: start;
            gap: 1rem;
            h3{
                margin-left: -5rem;
            }
        }




    .bookmark{
        z-index: 1;
        position: absolute;
        top: 8.2rem;
        left: 3rem;
        transform: rotate(0deg);

        img{
            height: auto;
            width: 19rem;
        }
    }

    .bookmark2{
        position: absolute;
        z-index: 1;
        top: 8.2rem;
        left: 3rem;
        transform: rotate(0deg);
        
        img:nth-child(1){
            height: auto;
            width: 19rem;
        }

    }

    .arrow-book{

        position: absolute;
        z-index: 1;
        top: 45rem;
        left: 15rem;
        display: grid;
        text-align: start;
        gap: 1rem;
        h3{
            margin-left: -5rem;
        }

    }
    
    .pin{
        left: 3rem;
        top: 40rem;
        transform: rotate(-12deg);

        img:nth-child(1){
            height: auto;
            width: 19rem;
        }

        img:nth-child(2){
            position: absolute;
            
            left: -2rem;
            top: -5rem;
        }

        h3{
            position: absolute;
            top: -8rem;
            left: -3rem;
        }
    }

        &:hover{
            
            .desc1{
                position: absolute;
                top: 3rem;
                left: -18rem;
                z-index: 1;
                display: grid;
                text-align: start;
                gap: 1rem;
                h3{
                    margin-left: -5rem;
                }
            }




        .bookmark{
            z-index: 1;
            left: 25rem;
            top: 2rem;
            transform: rotate(12deg);

            img{
                height: auto;
                width: 19rem;
            }
        }

        .bookmark2{
            z-index: 0;
            left: 35rem;
            top: 10rem;
            transform: rotate(22deg);
            
            img:nth-child(1){
                height: auto;
                width: 19rem;
            }

        }
        
    .arrow-book{

        position: absolute;
        z-index: 1;
        top: 59rem;
        left: 37rem;
        display: grid;
        text-align: start;
        gap: 1rem;
        h3{
            margin-left: -5rem;
        }

    }
        
        .pin{
            left: -15rem;
            top: 48rem;
            transform: rotate(-12deg);

            img:nth-child(1){
                height: auto;
                width: 19rem;
            }

            img:nth-child(2){
                position: absolute;
                
                left: -2rem;
                top: -5rem;
            }

            h3{
                position: absolute;
                top: -8rem;
                left: -3rem;
            }
        }
    }


    

    


} 
}